body {
    background-color: aquamarine;
}
.container {
    height: 200px;
    width: 200px;
}

#div1 {
    background-color: #FF0000;
}
#div2 {
    background-color: #FF0033;
}
#div3 {
    background-color: #FF0066;
}
#div4 {
    background-color: #FF0099;
}
#div5 {
    background-color: #FF00CC;
}
#div6 {
    background-color: #FF00FF;
}

#footer {
    background-color: cadetblue;
    height: 50px;
    text-align: center;
}