body {
    background-color: #00ff00;
}
.cuadro-amarillo {
    background-color: yellow;
    height: 700px;
    width: 700px;
    margin: 75px 350px 0px 350px;
}

#img-flor {
    color: red;
    font-size: 500px;
    padding: 100px;
}